# Part I. ETL Pipeline for Pre-Processing the Files

## PRE-PROCESSING THE FILES:

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv
from prettytable import PrettyTable

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    print(file_path_list)

/workspace/home
['/workspace/home/event_data/2018-11-10-events.csv', '/workspace/home/event_data/2018-11-04-events.csv', '/workspace/home/event_data/2018-11-23-events.csv', '/workspace/home/event_data/2018-11-03-events.csv', '/workspace/home/event_data/2018-11-28-events.csv', '/workspace/home/event_data/2018-11-14-events.csv', '/workspace/home/event_data/2018-11-22-events.csv', '/workspace/home/event_data/2018-11-15-events.csv', '/workspace/home/event_data/2018-11-01-events.csv', '/workspace/home/event_data/2018-11-06-events.csv', '/workspace/home/event_data/2018-11-19-events.csv', '/workspace/home/event_data/2018-11-18-events.csv', '/workspace/home/event_data/2018-11-16-events.csv', '/workspace/home/event_data/2018-11-07-events.csv', '/workspace/home/event_data/2018-11-25-events.csv', '/workspace/home/event_data/2018-11-21-events.csv', '/workspace/home/event_data/2018-11-17-events.csv', '/workspace/home/event_data/2018-11-08-events.csv', '/workspace/home/event_data/2018-11-12-events.csv', '/workspace/home/event_data/2018-11-05-events.csv', '/workspace/home/event_data/2018-11-13-events.csv', '/workspace/home/event_data/2018-11-29-events.csv', '/workspace/home/event_data/2018-11-02-events.csv', '/workspace/home/event_data/2018-11-11-events.csv', '/workspace/home/event_data/2018-11-26-events.csv', '/workspace/home/event_data/2018-11-09-events.csv', '/workspace/home/event_data/2018-11-20-events.csv', '/workspace/home/event_data/2018-11-27-events.csv', '/workspace/home/event_data/2018-11-30-events.csv', '/workspace/home/event_data/2018-11-24-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# get total number of rows 
print(len(full_data_rows_list))
# to check to see what the list of event data rows will look like
# display(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

8056

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

In [5]:
# checking for duplicates in the data
df = pd.read_csv('event_datafile_new.csv')
df.duplicated().any()

False

In [6]:
display(df)

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Hoobastank,Cierra,F,0,Finley,241.39710,free,"Richmond, VA",132,Say The Same,96
1,Mark Knopfler,Cierra,F,1,Finley,249.31220,free,"Richmond, VA",132,Why Aye Man,96
2,Mogwai,Cierra,F,2,Finley,341.28934,free,"Richmond, VA",132,We're No Here,96
3,The Casualties,Cierra,F,3,Finley,181.49832,free,"Richmond, VA",132,Punx Unite,96
4,The Living End,Ryan,M,0,Smith,188.62975,free,"San Jose-Sunnyvale-Santa Clara, CA",433,Roll On (Album Version),26
5,Aloe Blacc,Rylan,M,0,George,244.19220,free,"Birmingham-Hoover, AL",402,I Need A Dollar,16
6,Faith No More,Rylan,M,1,George,326.50404,free,"Birmingham-Hoover, AL",402,Helpless,16
7,Chris Cornell,Aleena,F,0,Kirby,353.69751,paid,"Waterloo-Cedar Falls, IA",350,Sunshower (Great Expectations Soundtrack),44
8,Weezer,Aleena,F,1,Kirby,203.93751,paid,"Waterloo-Cedar Falls, IA",350,My Name Is Jonas,44
9,Stream of Passion feat. Ayreon,Aleena,F,2,Kirby,257.56689,paid,"Waterloo-Cedar Falls, IA",350,Valley Of The Queens,44
10,Lupe Fiasco,Aleena,F,3,Kirby,273.94567,paid,"Waterloo-Cedar Falls, IA",350,Shining Down [feat. Matthew Santos] (Amended A...,44
11,Tom Petty,Aleena,F,4,Kirby,263.23546,paid,"Waterloo-Cedar Falls, IA",350,Runnin' Down A Dream,44
12,The Killers,Aleena,F,5,Kirby,220.89098,paid,"Waterloo-Cedar Falls, IA",350,When You Were Young,44
13,Afghan Whigs,Aleena,F,6,Kirby,179.40853,paid,"Waterloo-Cedar Falls, IA",350,I'm Her Slave (Album),44
14,CSS,Aleena,F,7,Kirby,213.75955,paid,"Waterloo-Cedar Falls, IA",350,Let's Make Love And Listen To Death From Above...,44
15,Mos Def / Talib Kweli,Aleena,F,8,Kirby,141.37424,paid,"Waterloo-Cedar Falls, IA",350,History,44
16,Ryan Leslie,Aleena,F,9,Kirby,203.96363,paid,"Waterloo-Cedar Falls, IA",350,How It Was Supposed To Be,44
17,Mark Lowry,Aleena,F,10,Kirby,168.28036,paid,"Waterloo-Cedar Falls, IA",350,Get Together With The Lord (The Best Of Mark L...,44
18,Beirut,Aleena,F,11,Kirby,230.19057,paid,"Waterloo-Cedar Falls, IA",350,Nantes,44
19,MODESELEKTOR FEAT. PUPPETMASTAZ,Aleena,F,12,Kirby,52.79302,paid,"Waterloo-Cedar Falls, IA",350,THE DARK SIDE OF THE FROG,44
20,Kid Cudi / Kanye West / Common,Aleena,F,13,Kirby,237.76608,paid,"Waterloo-Cedar Falls, IA",350,Make Her Say,44
21,Julie Ruin,Aleena,F,14,Kirby,142.47138,paid,"Waterloo-Cedar Falls, IA",350,Breakout A-Town,44
22,Sons And Daughters,Aleena,F,15,Kirby,165.90322,paid,"Waterloo-Cedar Falls, IA",350,The Bell,44
23,Children 18:3,Aleena,F,16,Kirby,178.52036,paid,"Waterloo-Cedar Falls, IA",350,Mock The Music,44
24,Chris Cagle,Aleena,F,17,Kirby,232.85506,paid,"Waterloo-Cedar Falls, IA",350,Miss Me Baby,44
25,John Waite,Aleena,F,18,Kirby,269.76608,paid,"Waterloo-Cedar Falls, IA",350,Missing You,44
26,Basshunter,Aleena,F,19,Kirby,223.32036,paid,"Waterloo-Cedar Falls, IA",350,Walk On Water,44
27,Jay-Z / Lil Wayne,Aleena,F,20,Kirby,236.01587,paid,"Waterloo-Cedar Falls, IA",350,Hello Brooklyn 2.0,44
28,Snow Patrol,Aleena,F,21,Kirby,273.63220,paid,"Waterloo-Cedar Falls, IA",350,It's Beginning To Get To Me,44
29,Coldcut,Aleena,F,22,Kirby,203.07546,paid,"Waterloo-Cedar Falls, IA",350,Autumn Leaves,44
...,...,...,...,...,...,...,...,...,...,...,...
6790,Cat Stevens,Tegan,F,25,Levine,200.20200,paid,"Portland-South Portland, ME",910,Wild World,80
6791,Arctic Monkeys,Tegan,F,26,Levine,177.84118,paid,"Portland-South Portland, ME",910,Fake Tales Of San Francisco (Explicit),80
6792,Antonio Vega,Tegan,F,27,Levine,135.13098,paid,"Portland-South Portland, ME",910,Sin SoluciÃÂ³n,80
6793,Symphony X,Chloe,F,41,Cuevas,238.54975,paid,"San Francisco-Oakland-Hayward, CA",849,In The Dragon's Den,49
6794,Train,Tegan,F,28,Levine,216.76363,paid,"Portland-South Portland, ME",910,Hey_ Soul Sister,80
6795,The Velvet Underground,Chloe,F,42,Cuevas,202.76200,paid,"San Francisco-Oakland-Hayward, CA",849,Train Round The Bend (LP Version),49
6796,The White Stripes,Chloe,F,43,Cuevas,241.86730,paid,"San Francisco-Oakland-Hayward, CA",849,My Doorbell (Album Version),49
6797,Little Boots,Chloe,F,44,Cuevas,225.20118,paid,"San Francisco-Oakland-Hayward, CA",849,Hearts Collide (album version),49
6798,Flora Purim,Chloe,F,45,Cuevas,306.99057,paid,"San Francisco-Oakland-Hayward, CA",849,Less Than Lovers,49
6799,Sheena Easton,Chloe,F,46,Cuevas,239.62077,paid,"San Francisco-Oakland-Hayward, CA",849,Strut (1993 Digital Remaster),49
6800,Story Of The Year,Chloe,F,47,Cuevas,232.46322,paid,"San Francisco-Oakland-Hayward, CA",849,The Dream Is Over,49
6801,Friendly Fires,Chloe,F,48,Cuevas,217.02485,paid,"San Francisco-Oakland-Hayward, CA",849,Jump In The Pool,49
6802,Papas Da LÃÂ­ngua,Chloe,F,49,Cuevas,222.17098,paid,"San Francisco-Oakland-Hayward, CA",849,Pequeno Grande Amor,49
6803,The Killers,Chloe,F,50,Cuevas,253.70077,paid,"San Francisco-Oakland-Hayward, CA",849,Losing Touch,49
6804,KMC Featuring Beenie Man,Aiden,M,0,Hess,264.80281,free,"La Crosse-Onalaska, WI-MN",906,Soul On Fire (Drum Majorz Club Remix) (Feat. B...,86
6805,Dangerdoom,Chloe,F,51,Cuevas,146.85995,paid,"San Francisco-Oakland-Hayward, CA",849,Crosshairs,49
6806,The Avett Brothers,Chloe,F,52,Cuevas,244.61016,paid,"San Francisco-Oakland-Hayward, CA",849,A Gift For Melody Anne,49
6807,Dave Attell,Aiden,M,1,Hess,66.55955,free,"La Crosse-Onalaska, WI-MN",906,Fireworks (LP Version),86
6808,Robert Johnson,Aiden,M,2,Hess,154.09587,free,"La Crosse-Onalaska, WI-MN",906,I?'m A Steady Rollin? Man,86
6809,Homesick James,Chloe,F,53,Cuevas,199.65342,paid,"San Francisco-Oakland-Hayward, CA",849,Working With Homesick,49
6810,Mc Chris,Aiden,M,3,Hess,149.99465,free,"La Crosse-Onalaska, WI-MN",906,Nrrrd Grrrl,86
6811,Jack's Mannequin,Chloe,F,54,Cuevas,223.21587,paid,"San Francisco-Oakland-Hayward, CA",849,American Love (Album Version),49
6812,Aqua,Aiden,M,4,Hess,218.48771,free,"La Crosse-Onalaska, WI-MN",906,Cartoon Heroes,86
6813,Metric,Aiden,M,5,Hess,252.99546,free,"La Crosse-Onalaska, WI-MN",906,Stadium Love,86
6814,Enrique Iglesias,Stefany,F,0,White,208.58730,free,"Lubbock, TX",867,Escape,83
6815,Motion City Soundtrack,Stefany,F,1,White,205.26975,free,"Lubbock, TX",867,Fell In Love Without You (Acoustic),83
6816,Ticanaf,Stefany,F,2,White,2594.87302,free,"Lubbock, TX",867,The Thousand Names of Lord Shiva (Part 1),83
6817,The Far East Movement,Ryan,M,0,Smith,228.20526,free,"San Jose-Sunnyvale-Santa Clara, CA",899,Dance Like Michael Jackson,26
6818,the bird and the bee,Ryan,M,1,Smith,189.51791,free,"San Jose-Sunnyvale-Santa Clara, CA",899,You're A Cad,26
6819,Shakira,Christian,F,0,Porter,193.82812,free,"Elkhart-Goshen, IN",366,Inevitable,11

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Creating Apache Cassandra Tables in the cells below

#### Creating a Cluster

In [7]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [8]:
# Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkify
    WITH REPLICATION = 
    {'class' : 'SimpleStrategy', 'replication_factor' : 1} """)
except Exception as e:
    print(e)

#### Set Keyspace

In [9]:
# Setting KEYSPACE
try:
    session.set_keyspace('sparkify')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Creating queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

We are basically looking for something like

`select artist, songtitle, song_length from sparkify_songs_summary where sessionid=338 and itemInSession=4`

### Justification
Here are primary key will be sessionid and clustering key will be itemInsession so we can extract unique records based on the query to pull specific sessionids and itemInSession
With the idea that the table is bigger in size than what we did in exercises and it can be bigger in production or real life scenarios, we will only create the table with the necessary columns for the data we want to show, so that the cluster is not having unnessary data to select and pull thereby saving on cluster space and retrival time.

In [10]:
## The final output should look like the below, vizulaizing it using the dataframe we created above
# print("Showing how the output should look like")
# display(df[(df['sessionId'] == 338) & (df['itemInSession'] == 4)][['artist', 'song', 'length']].style.hide(axis="index"))


# Creating the table in Apache Cassandra

create_question1 = "CREATE TABLE IF NOT EXISTS sparkify_songs_summary "
create_question1 = create_question1 + "(artist text, song_title text, song_length float, sessionId int, itemInSession int,\
                PRIMARY KEY (sessionId, itemInSession))"
try:
    session.execute(create_question1)
    print("\nTable sparkify_songs_summary has been created")
except Exception as e:
    print(e)

Table sparkify_songs_summary has been created

In [11]:
# to correctly get the index for column names to reference in the csv
print(df.columns[3])

itemInSession

In [12]:
# reading from the file
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO sparkify_songs_summary (artist, song_title, song_length, sessionId, itemInSession)"
        query = query + "VALUES (%s,%s,%s,%s,%s)"
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[0], line[9], float(line[5]), int(line[8]), int(line[3])))

#### Do a SELECT to verify that the data have been inserted into each table

In [13]:
## Validating the results

query = "SELECT artist, song_title, song_length from sparkify_songs_summary WHERE sessionid=338 and itemInSession=4"
try:
    rows = session.execute(query)
    
    # Create a PrettyTable object
    table = PrettyTable()
    
    # Define the column names
    table.field_names = ["Artist", "song_title", "song_length"]
    
    # Add rows to the table
    for row in rows:
        table.add_row([row.artist, row.song_title, row.song_length])
    
    # Print the table
    print(table)
except Exception as e:
    print(e)

+-----------+---------------------------------+--------------------+
|   Artist  |            song_title           |    song_length     |
+-----------+---------------------------------+--------------------+
| Faithless | Music Matters (Mark Knight Dub) | 495.30731201171875 |
+-----------+---------------------------------+--------------------+


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    
We are basically looking for something like

`select artist_name, song_title, artist_firstname, artist_lastname from sparkify_artist_summary where userid=10 and sessionid=182`

### Justification
Here are primary key will be userid and clustering key will be sessionId and itemInsession so we can extract unique records based on the query and sort it by itemInsession
With the idea that the table is bigger in size than what we did in exercises and it can be bigger in production or real life scenarios, we will only create the table with the necessary columns for the data we want to show, so that the cluster is not having unnessary data to select and pull thereby saving on cluster space and retrival time.

In [14]:
# Creating the table in Apache Cassandra

create_question2 = "CREATE TABLE IF NOT EXISTS sparkify_artist_summary "
create_question2 = create_question2 + "(artist text, song_title text, artist_firstname text, artist_lastname text, \
                userid int, sessionid int, itemInSession int,\
                PRIMARY KEY (userid, sessionid, itemInSession))"
try:
    session.execute(create_question2)
    print("\nTable sparkify_artist_summary has been created")
except Exception as e:
    print(e)

Table sparkify_artist_summary has been created

In [15]:
# reading from the file
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO sparkify_artist_summary (artist, song_title, artist_firstname, artist_lastname, \
                userid , sessionid , itemInSession)"
        query = query + "VALUES (%s,%s,%s,%s,%s,%s,%s)"
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[0], line[9], line[1], line[4], int(line[10]), int(line[8]), int(line[3]) ))

In [16]:
## Validating the results
    
query = "SELECT artist, song_title, artist_firstname, artist_lastname FROM sparkify_artist_summary \
         WHERE userid=10 AND sessionid=182"
try:
    rows = session.execute(query)
    
    # Create a PrettyTable object
    table = PrettyTable()
    
    # Define the column names
    table.field_names = ["Artist", "song_title", "artist_firstname", "artist_lastname"]
    
    # Add rows to the table
    for row in rows:
        table.add_row([row.artist, row.song_title, row.artist_firstname, row.artist_lastname])
    
    # Print the table
    print(table)
except Exception as e:
    print(e)

+-------------------+------------------------------------------------------+------------------+-----------------+
|       Artist      |                      song_title                      | artist_firstname | artist_lastname |
+-------------------+------------------------------------------------------+------------------+-----------------+
|  Down To The Bone |                  Keep On Keepin' On                  |      Sylvie      |       Cruz      |
|    Three Drives   |                     Greece 2000                      |      Sylvie      |       Cruz      |
| Sebastien Tellier |                      Kilometer                       |      Sylvie      |       Cruz      |
|   Lonnie Gordon   | Catch You Baby (Steve Pitron & Max Sanna Radio Edit) |      Sylvie      |       Cruz      |
+-------------------+------------------------------------------------------+------------------+-----------------+

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

We are basically looking for something like

`select artist_firstname, artist_lastname, song from sparkify_artist_summary where song='All Hands Against His Own'`

### Justification
Here are primary key will be song and clustering key will be userid so we can extract unique records based on the query as song is repeating in the dataset and cant be used along as primary key (shown in the below cell)
With the idea that the table is bigger in size than what we did in exercises and it can be bigger in production or real life scenarios, we will only create the table with the necessary columns for the data we want to show, so that the cluster is not having unnessary data to select and pull thereby saving on cluster space and retrival time.

In [17]:
df[df[['userId', 'song']].duplicated(keep=False)].sort_values(by='song')

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
4472,The Crests,Kate,F,51,Harrell,182.88281,paid,"Lansing-East Lansing, MI",537,16 Candles,97
3343,The Crests,Kate,F,28,Harrell,182.88281,paid,"Lansing-East Lansing, MI",817,16 Candles,97
3071,Sam Cooke,Kate,F,26,Harrell,122.04363,paid,"Lansing-East Lansing, MI",797,Ain't Misbehavin,97
690,Sam Cooke,Kate,F,4,Harrell,122.04363,paid,"Lansing-East Lansing, MI",944,Ain't Misbehavin,97
4298,Sam Cooke,Kate,F,6,Harrell,122.04363,paid,"Lansing-East Lansing, MI",508,Ain't Misbehavin,97
1065,Green Day,Tegan,F,81,Levine,185.12934,paid,"Portland-South Portland, ME",548,American Idiot [feat. Green Day & The Cast Of ...,80
1020,Green Day,Tegan,F,59,Levine,185.12934,paid,"Portland-South Portland, ME",548,American Idiot [feat. Green Day & The Cast Of ...,80
5470,Dakota Oak,Tegan,F,24,Levine,45.63546,paid,"Portland-South Portland, ME",416,Baker's Blue Jay Yarn,80
966,Dakota Oak,Tegan,F,19,Levine,45.63546,paid,"Portland-South Portland, ME",548,Baker's Blue Jay Yarn,80
4177,Panic At The Disco,Kate,F,32,Harrell,259.29098,paid,"Lansing-East Lansing, MI",147,Behind The Sea [Live In Chicago],97
3066,Panic At The Disco,Kate,F,24,Harrell,259.29098,paid,"Lansing-East Lansing, MI",797,Behind The Sea [Live In Chicago],97
3591,Pearl Jam,Tegan,F,20,Levine,268.74730,paid,"Portland-South Portland, ME",342,Better Man,80
1284,Pearl Jam,Tegan,F,43,Levine,268.74730,paid,"Portland-South Portland, ME",574,Better Man,80
113,Evanescence,Jayden,M,28,Graves,236.12036,paid,"Marinette, WI-MI",128,Bring Me To Life,25
5586,Evanescence,Jayden,M,4,Graves,237.11302,paid,"Marinette, WI-MI",297,Bring Me To Life,25
5714,Jack Johnson,Lily,F,47,Koch,236.93016,paid,"Chicago-Naperville-Elgin, IL-IN-WI",716,Bubble Toes,15
2864,Jack Johnson,Lily,F,21,Koch,236.72118,paid,"Chicago-Naperville-Elgin, IL-IN-WI",221,Bubble Toes,15
4581,Five Iron Frenzy,Sara,F,70,Johnson,236.09424,paid,"Winston-Salem, NC",411,Canada,95
4110,Five Iron Frenzy,Kate,F,10,Harrell,236.09424,paid,"Lansing-East Lansing, MI",147,Canada,97
5417,Five Iron Frenzy,Lily,F,11,Koch,236.09424,paid,"Chicago-Naperville-Elgin, IL-IN-WI",362,Canada,15
3408,Five Iron Frenzy,Lily,F,13,Koch,236.09424,paid,"Chicago-Naperville-Elgin, IL-IN-WI",818,Canada,15
6658,Five Iron Frenzy,Sara,F,18,Johnson,236.09424,paid,"Winston-Salem, NC",564,Canada,95
1568,Five Iron Frenzy,Avery,F,71,Watkins,236.09424,paid,"San Jose-Sunnyvale-Santa Clara, CA",324,Canada,30
1621,Five Iron Frenzy,Kate,F,30,Harrell,236.09424,paid,"Lansing-East Lansing, MI",605,Canada,97
1434,Five Iron Frenzy,Avery,F,0,Watkins,236.09424,paid,"San Jose-Sunnyvale-Santa Clara, CA",324,Canada,30
1631,Five Iron Frenzy,Avery,F,100,Watkins,236.09424,paid,"San Jose-Sunnyvale-Santa Clara, CA",324,Canada,30
4515,Five Iron Frenzy,Sara,F,19,Johnson,236.09424,paid,"Winston-Salem, NC",411,Canada,95
3545,38 Special,Jaleah,F,8,Hayes,280.76363,paid,"San Antonio-New Braunfels, TX",113,Caught Up In You,70
3556,38 Special,Jaleah,F,16,Hayes,280.76363,paid,"San Antonio-New Braunfels, TX",113,Caught Up In You,70
1306,MichÃÂ¨le Arnaud,Kate,F,3,Harrell,105.50812,paid,"Lansing-East Lansing, MI",584,Chanson Sur Une Seule Note Samba De Uma Nota So,97
...,...,...,...,...,...,...,...,...,...,...,...
1142,Usher Featuring Lil' Jon & Ludacris,Lily,F,4,Koch,250.38322,paid,"Chicago-Naperville-Elgin, IL-IN-WI",557,Yeah!,15
2706,Coldplay,Layla,F,18,Griffin,268.30322,paid,"Lake Havasu City-Kingman, AZ",407,Yellow,24
2110,Coldplay,Layla,F,48,Griffin,268.38159,paid,"Lake Havasu City-Kingman, AZ",672,Yellow,24
617,Coldplay,Emily,F,35,Benson,268.38159,paid,"Augusta-Richmond County, GA-SC",887,Yellow,58
243,Coldplay,Emily,F,1,Benson,268.38159,paid,"Augusta-Richmond County, GA-SC",821,Yellow,58
4897,Taylor Swift,Tegan,F,36,Levine,230.47791,paid,"Portland-South Portland, ME",1065,You Belong With Me,80
199,Taylor Swift,Tegan,F,3,Levine,230.47791,free,"Portland-South Portland, ME",243,You Belong With Me,80
1586,Dwight Yoakam,Kate,F,14,Harrell,239.30730,paid,"Lansing-East Lansing, MI",605,You're The One,97
3171,Dwight Yoakam,Lily,F,0,Koch,239.30730,paid,"Chicago-Naperville-Elgin, IL-IN-WI",764,You're The One,15
888,Dwight Yoakam,Jacob,M,30,Klein,239.30730,paid,"Tampa-St. Petersburg-Clearwater, FL",954,You're The One,73
900,Dwight Yoakam,Jacob,M,37,Klein,239.30730,paid,"Tampa-St. Petersburg-Clearwater, FL",954,You're The One,73
2985,Dwight Yoakam,Chloe,F,3,Cuevas,239.30730,paid,"San Francisco-Oakland-Hayward, CA",923,You're The One,49
3230,Dwight Yoakam,Lily,F,47,Koch,239.30730,paid,"Chicago-Naperville-Elgin, IL-IN-WI",764,You're The One,15
6350,Dwight Yoakam,Chloe,F,22,Cuevas,239.30730,paid,"San Francisco-Oakland-Hayward, CA",1096,You're The One,49
4103,Dwight Yoakam,Layla,F,10,Griffin,239.30730,paid,"Lake Havasu City-Kingman, AZ",23,You're The One,24
4119,Dwight Yoakam,Kate,F,14,Harrell,239.30730,paid,"Lansing-East Lansing, MI",147,You're The One,97
4258,Dwight Yoakam,Jayden,M,7,Graves,239.30730,paid,"Marinette, WI-MI",442,You're The One,25
2134,Dwight Yoakam,Layla,F,68,Griffin,239.30730,paid,"Lake Havasu City-Kingman, AZ",672,You're The One,24
5596,Dwight Yoakam,Jayden,M,12,Graves,239.30730,paid,"Marinette, WI-MI",297,You're The One,25
4442,Dwight Yoakam,Kate,F,30,Harrell,239.30730,paid,"Lansing-East Lansing, MI",537,You're The One,97
4597,Dwight Yoakam,Layla,F,98,Griffin,239.30730,paid,"Lake Havasu City-Kingman, AZ",984,You're The One,24
4699,Dwight Yoakam,Chloe,F,35,Cuevas,239.30730,paid,"San Francisco-Oakland-Hayward, CA",1041,You're The One,49
5588,Dwight Yoakam,Mohammad,M,0,Rodriguez,239.30730,free,"Sacramento--Roseville--Arden-Arcade, CA",325,You're The One,88
4703,Dwight Yoakam,Chloe,F,37,Cuevas,239.30730,paid,"San Francisco-Oakland-Hayward, CA",1041,You're The One,49
5034,Dwight Yoakam,Ava,F,0,Robinson,239.30730,free,"New Haven-Milford, CT",156,You're The One,50
6550,Dwight Yoakam,Mohammad,M,38,Rodriguez,239.30730,paid,"Sacramento--Roseville--Arden-Arcade, CA",888,You're The One,88
5048,Dwight Yoakam,Ava,F,2,Robinson,239.30730,free,"New Haven-Milford, CT",207,You're The One,50
1590,Dwight Yoakam,Kate,F,16,Harrell,239.30730,paid,"Lansing-East Lansing, MI",605,You're The One,97
1349,Dwight Yoakam,Lily,F,64,Koch,239.30730,paid,"Chicago-Naperville-Elgin, IL-IN-WI",818,You're The One,15
1757,Dwight Yoakam,Kate,F,80,Harrell,239.30730,paid,"Lansing-East Lansing, MI",605,You're The One,97

In [18]:
# Creating the table in Apache Cassandra

create_question3 = "CREATE TABLE IF NOT EXISTS sparkify_artist_songs "
create_question3 = create_question3 + "(artist_firstname text, artist_lastname text, song text, userid int\
                , PRIMARY KEY (song, userid))"
try:
    session.execute(create_question3)
    print("\nTable sparkify_artist_songs has been created")
except Exception as e:
    print(e)

Table sparkify_artist_songs has been created

In [19]:
# reading from the file
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        query = "INSERT INTO sparkify_artist_songs (artist_firstname , artist_lastname , song, userid)"
        query = query + "VALUES (%s,%s,%s,%s)"
        ## Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[1], line[4], line[9],  int(line[10]) ))

In [20]:
## Validating the results
    
query = "SELECT artist_firstname , artist_lastname FROM sparkify_artist_songs \
         WHERE song='All Hands Against His Own'"
try:
    rows = session.execute(query)
    
    # Create a PrettyTable object
    table = PrettyTable()
    
    # Define the column names
    table.field_names = ["artist_firstname", "artist_lastname"]
    
    # Add rows to the table
    for row in rows:
        table.add_row([row.artist_firstname, row.artist_lastname])
    
    # Print the table
    print(table)
except Exception as e:
    print(e)

+------------------+-----------------+
| artist_firstname | artist_lastname |
+------------------+-----------------+
|    Jacqueline    |      Lynch      |
|      Tegan       |      Levine     |
|       Sara       |     Johnson     |
+------------------+-----------------+

### Drop the tables before closing out the sessions

In [21]:
## Drop the table before closing out the sessions
try:
    session.execute("DROP TABLE IF EXISTS sparkify_songs_summary")
    session.execute("DROP TABLE IF EXISTS sparkify_artist_summary")
    session.execute("DROP TABLE IF EXISTS sparkify_artist_songs")
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [22]:
session.shutdown()
cluster.shutdown()